In [1982]:
import pandas as pd

In [1983]:
providers_flatrate = pd.read_parquet("files/providers_flatrate.parquet")

In [1984]:
providers_flatrate.head()

     imdb_id                providers_flatrate
0  tt0412175         Paramount+ Amazon Channel
1  tt0412175                        MovistarTV
2  tt0412175     Paramount Plus Basic with Ads
3  tt0412175   Paramount+ Roku Premium Channel
4  tt0412175  Paramount Plus Apple TV Channel

In [1985]:
providers_flatrate['providers_flatrate'] = providers_flatrate['providers_flatrate'].str.lower().str.strip()
providers_flatrate['providers_flatrate'] = providers_flatrate['providers_flatrate'].str.replace(' amazon channel', '').str.replace(' apple tv channel', '').str.replace('+', ' plus').str.replace(' amzon channel', '').str.replace(' on u-next', '').str.replace(' roku premium channel', '')
providers_flatrate['providers_flatrate'] = providers_flatrate['providers_flatrate'].str.strip()
providers_flatrate = providers_flatrate.drop_duplicates()
providers_flatrate['providers_flatrate'] = providers_flatrate['providers_flatrate'].replace({
    'paramount plus premium' : 'paramount plus',
    'paramount plus basic with ads' : 'paramount plus',
    'paramount plus mtv': 'paramount plus',
    'paramount plus with showtime' : 'paramount plus',
    'paramount plus originals' : 'paramount plus',
    'netflix standard with ads' : 'netflix',
    'movistar plus plus ficción total' : 'movistar plus',
    'amazon prime video with ads' : 'amazon prime video',
    'movistar plus plus' : 'movistar plus',
    'peacock premium plus' : 'peacock plus',
    'youtube tv' : 'youtube',
    'youtube premium' : 'youtube',
    'studiocanal presents allstars' : 'studiocanal presents',
    'studiocanal presents moviecult' : 'studiocanal presents',
    'tv 2 play' : 'tv 2',
    'netflix kids' : 'netflix',
    'bbc kids' : 'bbc',
    'bbc america' : 'bbc',
    'bbc iplayer' : 'bbc',
    'bbc player' : 'bbc',
    'discovery  plus' : 'discovery plus',
    'amc plus' : 'amc',
    'amc channels' : 'amc',
    'lionsgate pluss' : 'lionsgate',
    'lionsgate play' : 'lionsgate',
    'vix gratis' : 'vix',
    'vix premium' : 'vix',
    'atresplayer': 'atres player',
    'now tv cinema' : 'now tv',
    'netzkino select' : 'netzkino',
    'filmtastic bei canal plus' : 'filmtastic',
    'starzplay' : 'starz',
    'movistartv' : 'movistar',
    'movistar plus' : 'movistar',
    'hallmark tv' : 'hallmark',
    'hallmark plus' : 'hallmark',
    'arrow video' : 'arrow',
    'acorn tv apple tv' : 'acorn tv',
    'acorntv' : 'acorn tv',
    'sky go' : 'sky',
    'sky x' : 'sky',
    'sky store' : 'sky',
    'rtl plus max' : 'rtl plus',
    'qello concerts by stingray' : 'stingray',
    'stingray all good vibes' : 'stingray',
    'stingray classica' : 'stingray',
    'stingray karaoke' : 'stingray',
    'mgm plus' : 'mgm',
})
providers_flatrate = providers_flatrate.drop_duplicates()
providers_flatrate.loc[~providers_flatrate['providers_flatrate'].isin(providers_flatrate['providers_flatrate'].value_counts()[:10].index) & (providers_flatrate['providers_flatrate'].notnull()), 'providers_flatrate'] = 'other'
providers_flatrate = providers_flatrate.drop_duplicates()

In [1986]:
providers_flatrate['providers_flatrate'].value_counts()

providers_flatrate
other                 707
amazon prime video    342
hulu                  163
netflix               160
movistar              133
u-next                131
disney plus           120
okko                  106
strim                 101
kinopoisk             100
hbo max               100
Name: count, dtype: int64

In [1987]:
providers_flatrate['providers_flatrate'].unique()

array(['other', 'movistar', 'hulu', 'u-next', 'netflix', 'disney plus',
       None, 'kinopoisk', 'amazon prime video', 'strim', 'hbo max',
       'okko'], dtype=object)

In [1988]:
#결측치를 문자열 "none"로 대체하고 소문자 변환 및 공백 제거
providers_flatrate['providers_flatrate'] = (
    providers_flatrate['providers_flatrate']
    .fillna("none")
    .astype(str)
    .str.lower()
    .str.strip()
)

In [1989]:
providers_flatrate.head()

      imdb_id providers_flatrate
0   tt0412175              other
1   tt0412175           movistar
8   tt0412175               hulu
9   tt0412175             u-next
12  tt0439100              other

In [1991]:
providers_flatrate.shape

(4703, 2)

# 최종 providers_flatrate_f 파일 생성

In [1990]:
providers_flatrate.to_parquet('files/providers_flatrate_f.parquet')